@model Manpower_MVC.Models.Worker

@{
    ViewBag.Title = "每日工單輸入";
}

<h4>新增工人</h4>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2" >工單流水編號</label>
            <div class="col-md-10">
                <input class="form-control" readonly="readonly" value="@ViewBag.serialNum" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalaryDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalaryDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalaryDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OvertimeHr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OvertimeHr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OvertimeHr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OverOvertimeHr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OverOvertimeHr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OverOvertimeHr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">員工</label>
            <div class="col-md-10">
                <select name="EmpID" id="EmpID" class="form-control">
                    @foreach (var item in ViewBag.emp)
                    {
                        <option value="@item.ID">@item.EmpName</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.EmpID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">工種</label>
            <div class="col-md-10">
                <select name="WorkCareID" id="WorkCareID" class="form-control">
                    @foreach (var item in ViewBag.cate)
                    {
                        <option value="@item.ID">@item.WorkCareName</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.WorkCareID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" id="Remark" name="Remark" rows="3" placeholder="備註..."></textarea>
                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回工人列表", "ListWorker", new { listId = ViewBag.listId })
</div>