@model IEnumerable<Manpower_MVC.ViewModels.ViewWorker>

@{
    ViewBag.Title = "每日工單輸入";
}

<h4>工單工人列表</h4>

<p>
    <input type="button" value="建立工人" class="btn btn-primary" onclick="location.replace('@Url.Action("CreateWorker", new { listId = ViewBag.listId })')" />
</p>

<table class="table">
    <tr>
        <th>
            次項
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCareID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCareName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OvertimeHr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverOvertimeHr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th></th>
    </tr>
    
@for (int i = 0; i < Model.Count(); i++)
{
    var item = Model.ToList()[i];
    int j = i + 1;
    <tr>
        <td>
            @j
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCareID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OvertimeHr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverOvertimeHr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            <input type="button" value="編輯" class="btn btn-warning btn-xs" onclick="location.replace('@Url.Action("EditWorker", new { id=item.ID })')" />
            <input type="button" value="刪除" class="btn btn-danger btn-xs" onclick="if(window.confirm('確定要刪除')){location.replace('@Url.Action("DeleteWorker", new { id=item.ID })')}" />
        </td>
    </tr>
}

</table>

<div>
    <input type="button" value="返回工單列表" class="btn btn-default" onclick="location.replace('@Url.Action("Index")')" />
</div>
