@model IEnumerable<Manpower_MVC.ViewModels.ViewPrintPayWork>

@{
    ViewBag.Title = "請款總表";
}

<table class="table">
        <tr>
            <th width="180px">
                帳款年月
            </th>
            <th width="180px">
                業主代碼
            </th>
            <th width="200px">
                業主名稱
            </th>
            <th width="200px">
                工程名稱
            </th>
            <th width="200px">
                連絡人
            </th>
            <th width="200px">
                連絡人電話
            </th>
            <th colspan="2"></th>
        </tr>
</table>
<div style="overflow:auto; max-height: 168px">
    <table class="table">
        @foreach (var item in ViewBag.Pay)
        {
            string month = "";
            if (item.Month < 10)
            {
                month = "0" + item.Month;
            }
            else
            {
                month = "" + item.Month;
            }
            <tr>
                <td width="180px">
                    @item.Year / @month
                </td>
                <td width="180px">
                    @item.OwnerID
                </td>
                <td width="200px">
                    @item.OwnerName
                </td>
                <td width="200px">
                    @item.BuildName
                </td>
                <td width="200px">
                    @item.ConPerson
                </td>
                <td width="200px">
                    @item.ConPersonTel
                </td>
                <td>
                    <input type="button" value="顯示" class="btn btn-info btn-xs" onclick="location.replace('@Url.Action("PayWork", new { building = item.ID, year = item.Year, month = item.Month })')" />
                </td>
                <td>
                    <input type="button" value="列印" class="btn btn-success btn-xs" onclick="window.open('@Url.Action("PrintPayWork", new {building = item.ID, year = item.Year, month = item.Month})')" />
                </td>
            </tr>
        }

    </table>
</div>
<p></p>
<table class="table">
    <tr>
        <th>
        </th>
        <th colspan="2">
            日薪(天)
        </th>
        <th colspan="2">
            加班時數(小時)
        </th>
        <th colspan="2">
            超時時數(小時)
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkCate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OvertimeHr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OvertimeSal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverOvertimeHr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverOvertimeSal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OvertimeHr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OvertimeSal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverOvertimeHr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverOvertimeSal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
    </tr>
}

</table>
