@model IEnumerable<Manpower_MVC.ViewModels.ViewPrintPayWork>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.year/@ViewBag.month 請款總表</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/icheck/blue.min.css" rel="stylesheet">
    @Styles.Render("~/Bundles/css")
</head>
<body onload="window.print(); window.close();">
    <p>
        <h2>@ViewBag.year/@ViewBag.month 請款總表</h2>
    </p>
    <table class="table" width="100%">
        <tr>
            <td colspan="3">
                客戶名稱：@ViewBag.Owner.OwnerName
            </td>
            <td>
                頁數：
            </td>
        </tr>
        <tr>
            <td>
                公司電話：@ViewBag.Owner.Tel
            </td>
            <td>
                公司傳真：@ViewBag.Owner.Tel2
            </td>
            <td>
                統一編號：@ViewBag.Owner.UnifiedNum
            </td>
            <td>
                日期：@ViewBag.Date
            </td>
        </tr>
        <tr>
            <td colspan="3">
                公司地址：@ViewBag.Owner.Address
            </td>
            <td>
                連絡人：@ViewBag.Owner.ConPerson
            </td>
        </tr>
        <tr>
            <td colspan="3">
                工程名稱：@ViewBag.Building.BuildingName
            </td>
            <td>
                連絡人電話：@ViewBag.Owner.ConPersonPhone
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th>
            </th>
            <th colspan="2">
                日薪(天)
            </th>
            <th colspan="2">
                加班時數(小時)
            </th>
            <th colspan="2">
                超時時數(小時)
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkCate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OvertimeHr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OvertimeSal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverOvertimeHr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverOvertimeSal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sum)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkCate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalaryDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OvertimeHr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OvertimeSal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OverOvertimeHr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OverOvertimeSal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
            </tr>
        }
        <tr>
            <td colspan="6">
                
            </td>
            <td>
                總計：
            </td>
            <td>
                @ViewBag.sum
            </td>
        </tr>
    </table>
</body>
</html>
