@model IEnumerable<Manpower_MVC.ViewModels.ViewPrintEmpSal>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @if (ViewBag.month < 10)
    {
        ViewBag.month = "0" + ViewBag.month;
    }
    <title>出工薪資總表</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/icheck/blue.min.css" rel="stylesheet">
    @Styles.Render("~/Bundles/css")
</head>
<body onload="window.print(); window.close();">
    <div style="text-align:center; font-weight:bolder;">
        <p>
            <h4>出工薪資總表</h4>
        </p>
    </div>
    <p> </p>
    <p> </p>
    <div style="font-size:small">
        <table class="table">
            <tr>
                <td colspan="3">

                </td>
                <td colspan="2" align="center">
                    日薪(天)
                </td>
                <td colspan="2" align="center">
                    加班時數(小時)
                </td>
                <td colspan="2" align="center">
                    超時時數(小時)
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td width="8%" style="border-bottom: 1px solid black" align="left">
                    @Html.DisplayNameFor(model => model.EmpID)
                </td>
                <td width="13%" style="border-bottom: 1px solid black" align="left">
                    @Html.DisplayNameFor(model => model.EmpName)
                </td>
                <td width="16%" style="border-bottom: 1px solid black" align="left">
                    @Html.DisplayNameFor(model => model.WorkCate)
                </td>
                <td width="9%" style="border-bottom: 1px solid black" align="right">
                    @Html.DisplayNameFor(model => model.SalaryDay)
                </td>
                <td width="9%" style="border-bottom: 1px solid black" align="right">
                    @Html.DisplayNameFor(model => model.Salary)
                </td>
                <td width="9%" style="border-bottom: 1px solid black" align="right">
                    @Html.DisplayNameFor(model => model.OvertimeHr)
                </td>
                <td width="9%" style="border-bottom: 1px solid black" align="right">
                    @Html.DisplayNameFor(model => model.OvertimeSal)
                </td>
                <td width="9%" style="border-bottom: 1px solid black" align="right">
                    @Html.DisplayNameFor(model => model.OverOvertimeHr)
                </td>
                <td width="9%" style="border-bottom: 1px solid black" align="right">
                    @Html.DisplayNameFor(model => model.OverOvertimeSal)
                </td>
                <td width="9%" style="border-bottom: 1px solid black" align="right">
                    @Html.DisplayNameFor(model => model.Sum)
                </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="left">
                        @Html.DisplayFor(modelItem => item.EmpID)
                    </td>
                    <td align="left">
                        @Html.DisplayFor(modelItem => item.EmpName)
                    </td>
                    <td align="left">
                        @Html.DisplayFor(modelItem => item.WorkCate)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.SalaryDay)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.OvertimeHr)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.OvertimeSal)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.OverOvertimeHr)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.OverOvertimeSal)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Sum)
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>