@model IEnumerable<Manpower_MVC.ViewModels.ViewEmpSalDetail>

@{
    ViewBag.Title = "員工薪資";
}

<h4>員工薪資細項</h4>

<table class="table">
    <tr>
        <th width="300px">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.PosOrNeg.Equals("減項"))
        {
            <td>
                <font color="red">
                    @Html.DisplayFor(modelItem => item.Name)
                </font>
            </td>
            <td>
                <font color="red">
                    @Html.DisplayFor(modelItem => item.Price)
                </font>
            </td>
        }
        else
        {
            <td>
                <font color="blue">
                    @Html.DisplayFor(modelItem => item.Name)
                </font>
            </td>
            <td>
                <font color="blue">
                    @Html.DisplayFor(modelItem => item.Price)
                </font>
            </td>
        }
    </tr>
}
    <tr>
        <td colspan="2">
            應支金額：@ViewBag.pos |
            應扣金額：@ViewBag.neg |
            總金額：@ViewBag.sum
        </td>
    </tr>
</table>

<p>
    <input type="button" value="返回員工薪資列表" class="btn btn-default" onclick="location.replace('@Url.Action("Index")')" />
</p>
