@model IEnumerable<Manpower_MVC.ViewModels.ViewEmpSalDetail>

@{
    ViewBag.Title = "員工薪資";
}

<h4>員工薪資細項</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkCateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("返回員工薪資列表", "Index")
</p>
