
@{
    ViewBag.Title = "點工人事資料";
}
<style>
    tr.selected > td {
        background-color: #CCCCCC;
    }
</style>

<p>
    <input type="button" value="列印點工資料" class="btn btn-success" onclick="window.open('@Url.Action("Print")')" />
</p>

<table id="tMain" class="table table-hover" cellspacing="0" width="100%">
    <thead class="thead-inverse">
        <tr>
            <th>工號</th>
            <th>姓名</th>
            <th>電話</th>
            <th>手機</th>
            <th>緊急連絡人</th>
            <th>緊急連絡電話</th>
            <th>建立日期</th>
        </tr>
    </thead>
    <tfoot class="thead-inverse">
        <tr>
            <th>工號</th>
            <th>姓名</th>
            <th>電話</th>
            <th>手機</th>
            <th>緊急連絡人</th>
            <th>緊急連絡電話</th>
            <th>建立日期</th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>

<input id="create" type="button" value="新增" class="btn btn-primary" data-toggle="modal" data-target="#modalDiv" />
<input id="edit" disabled="disabled" type="button" value="編輯" class="btn btn-warning" data-toggle="modal" data-target="#modalDiv" />
<input id="del" disabled="disabled" type="button" value="刪除" class="btn btn-danger " />

<div>
    <label class="h4"></label>
</div>

<table id="tSecond" class="table table-hover" cellspacing="0" width="100%">
    <thead class="thead-inverse">
        <tr>
            <th width="12.5%">次號</th>
            <th width="12.5%">項目代號</th>
            <th width="12.5%">項目名稱</th>
            <th width="12.5%">加項/減項</th>
            <th width="12.5%">金額</th>
            <th width="17.5%">備註</th>
            <th width="10%"></th><th width="10%"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<input id="secondCreate" type="hidden" value="新增" class="btn btn-primary" data-toggle="modal" data-target="#modalDiv" />


@section pagesection{
    <script>
        $(document).ready(function () {
            loadMainTable();
            //點工表格欄位點擊選擇事件
	        $('#tMain tbody').on('click', 'tr', function () {
		        if ($(this).hasClass('selected')) {
			        $(this).removeClass('selected');
			        $('#edit').attr('disabled', true);
                    $('#del').attr('disabled', true);
                    $('#secondCreate').attr('type', 'hidden');
                    $('#tSecond tbody tr').remove();
		        }
		        else {
			        $('#tMain tbody').children('.selected').removeClass('selected');
			        $(this).addClass('selected');
			        $('#edit').attr('disabled', false);
                    $('#del').attr('disabled', false);
                    $('#secondCreate').attr('type', 'button');
                }
                loadSecondTable();
	        });
            //建立新增點工表單事件
	        $('#create').click(function () {
                j = 0;
                $('#lineModalLabel').html('新增點工資料');
                $('#form div div').remove();
                $('#form div').append(
                    mainForm + "<div class='form-group'>" +
                    "<input id='addIns' type='button' value='新增加減項' class='btn btn-default' onclick='addOne()' />" +
                    "<input id='celIns' type='button' value='刪除' class='btn btn-danger' onclick='delOne()' />" +
                    "</div>" + "<div class='form-group'>" +
                    "<table id='ins' width='100%'><thead><tr><th>項目</th><th>金額</th><th>備註</th></tr></thead>" +
                    "<tbody></tbody></table>" +
                    "</div>"
                );
                $.ajax({
			        url: '@Url.Action("getWorkCate")',
			        type: 'GET',
			        dataType: "json",
                    success: function (data) {
                        $('#form').attr('action', '@Url.Action("Create")');
                        var i = 0;
                        $.each(data, function (index, item) {
                            if (index % 3 == 0) {
                                i++
                                $('#form div div table#workCate tbody tr').append(
                                    "<td id='" + i + "'></td>"
                                );
                            }
                            $('#form div div table#workCate tbody tr td#' + i).append(
                                "<input type='checkbox' id='" + item.ID + "' name='workCateID' value='" + item.ID + "'>" + item.WorkCareName + "<br>"
                            );
                        });
                        $('#form div div table#workCate tbody tr td#' + i).append(
                            "<input type='hidden' id='hidden' name='workCateID' value='0' />"
                        );
			        }
		        });
                createSubmit();
		        addOne();
	        });
            //建立編輯點工表單事件
            $('#edit').click(function () {
                $('#lineModalLabel').html('編輯點工資料');
		        $('#form div div').remove();
                $('#form div').append(mainForm);
                $.ajax({
			        url: '@Url.Action("getWorkCate")',
			        type: 'GET',
			        dataType: "json",
                    success: function (data) {
                        $('#form').attr('action', '@Url.Action("Create")');
                        var i = 0;
                        $.each(data, function (index, item) {
                            if (index % 3 == 0) {
                                i++
                                $('#form div div table#workCate tbody tr').append(
                                    "<td id='" + i + "'></td>"
                                );
                            }
                            $('#form div div table#workCate tbody tr td#' + i).append(
                                "<input type='checkbox' id='" + item.ID + "' name='workCateID' value='" + item.ID + "'>" + item.WorkCareName + "<br>"
                            );
                        });
                        $('#form div div table#workCate tbody tr td#' + i).append(
                            "<input type='hidden' id='hidden' name='workCateID' value='0' />"
                        );
			        }
		        });
                editSubmit();
		        $.ajax({
			        url: '@Url.Action("Edit")',
			        type: 'GET',
			        data: { id: $('#tMain tbody tr.selected').attr('id') },
			        dataType: "json",
			        success: function (data) {
				        $('#form').attr('action', '@Url.Action("Edit")');
                        $('#form div div').children('#ID').val(data.Emp.ID);
                        $('#form div div').children('#EmpID').val(data.Emp.EmpID);
                        $('#form div div').children('#EmpName').val(data.Emp.EmpName);
                        $('#form div div').children('#Tel').val(data.Emp.Tel);
                        $('#form div div').children('#Phone').val(data.Emp.Phone);
                        $('#form div div').children('#ConPerson').val(data.Emp.ConPerson);
                        $('#form div div').children('#ConPersonTel').val(data.Emp.ConPersonTel);
                        $.each(data.WorkRight, function (index, item) {
                            $('#form div div table#workCate tbody tr td').children('#' + item.WorkCateID).attr('checked','checked');
                        });
			        },
			        error: function () {
				        $('#form').attr('action', '');
				        $('#form div div').children('input:text').val('');
			        }
		        });
	        });
            //刪除點工事件
	        $('#del').click(function () {
		        if (window.confirm('確定要刪除?')) {
			        location.replace('/Employee/Delete/' + $('.selected').attr('id'));
		        }
	        });
            //建立新增加減項表單事件
            $('#secondCreate').click(function () {
                $('#lineModalLabel').html('新增勞保加減項');
                $('#form div div').remove();
                $('#form div').append(secondForm);
                createSubmit();
                $.ajax({
			        url: '@Url.Action("getInsCate")',
			        type: 'GET',
			        dataType: "json",
                    success: function (data) {
                        $('#form').attr('action', 'CreateEmpIns');
				        $.each(data, function (index, item) {
					        $('#form div div select').append(
						        "<option value='" + item.ID + "'>" + item.InsName + "</option>"
					        );
                        });
                    },
                    error: function () {
                        $('#form').attr('action', '');
                        $('#form div div').children('input:text').val('');
                    }
                });
                $('#form div div').children('#EmpID').val($('#tMain tbody tr.selected').attr('id'));
	        });
        });
        //點工表單
        var mainForm = "<div class='form-group'>" +
            "<input data-val='true' id='ID' name='ID' type='hidden' />" +
            "</div>" +
            "<div class='form- group'>" +
            "<label for='EmpID'>工號</label>" +
            "<input type='text' class='form-control' id='EmpID' name='EmpID' required='required' />" +
            "</div >" +
            "<div class='form-group'>" +
            "<label for='EmpName'>姓名</label>" +
            "<input type='text' class='form-control' id='EmpName' name='EmpName' required='required' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='Tel'>電話</label>" +
            "<input type='text' class='form-control' id='Tel' name='Tel' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='Phone'>手機</label>" +
            "<input type='text' class='form-control' id='Phone' name='Phone' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='ConPerson'>緊急連絡人</label>" +
            "<input type='text' class='form-control' id='ConPerson' name='ConPerson' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='ConPersonTel'>緊急連絡電話</label>" +
            "<input type='text' class='form-control' id='ConPersonTel' name='ConPersonTel' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='workCate'>工種權限</label>" +
            "<table id='workCate' width='100%'><tbody><tr></tr></tbody></table>" +
            "</div>" ;
        //加減項表單
        var secondForm = "<div class='form-group'>" +
            "<input data-val='true' id='ID' name='ID' type='hidden' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<input data-val='true' id='EmpID' name='EmpID' type='hidden' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='InsID'>項目</label>" +
            "<select class='form-control' id='InsID' name='InsID'></select>" +
            "</div >" +
            "<div class='form-group'>" +
            "<label for='Price'>金額</label>" +
            "<input type='text' class='form-control' id='Price' name='Price' required='required' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='Remark'>備註</label>" +
            "<textarea class='form-control' cols='20' id='Remark' name='Remark' placeholder='備註...' rows='3'></textarea>" +
            "</div>";

        var j = 0;
        //減少加減項項目
        function delOne() {
            if (j != 1) {
                j--;
                $('#form div div table tbody tr#' + j).remove();
            }
        }
        //增加加減項項目
	    function addOne() {
            if (j==0){
                $('#form div div table#ins').append(
                    "<input type='hidden' id='InsID' name='ins[" + j + "].InsID' value='0' />" +
                    "<input type='hidden' id='Price' name='ins[" + j + "].Price' value='0' />" +
                    "<input type='hidden' id='Remark' name='ins[" + j + "].Remark' value='0' />"
                );
                j++;
            } else {
                $.ajax({
			        url: '@Url.Action("getInsCate")',
			        type: 'GET',
			        dataType: "json",
			        success: function (data) {
                        $('#form div div table#ins tbody').append(
					        "<tr id='" + j + "'><td>" +
					        "<select id='" + j + "' class='form-control' name='ins[" + j + "].InsID'></select>" +
					        "</td><td>" +
					        "<input type='text' class='form-control' id='Price' name='ins[" + j + "].Price' required='required'/>" +
					        "</td><td>" +
					        "<input type='text' class='form-control' id='Remark' name='ins[" + j + "].Remark' />" +
					        "</td></tr>"
				        );
				        $.each(data, function (index, item) {
                            $('#form div div table#ins tbody select#' + j).append(
						        "<option value='" + item.ID + "'>" + item.InsName + "</option>"
					        );
                        });
                        j++;
			        }
		        });
            }
        }
        //讀取點工資料
        function loadMainTable() {
            $.ajax({
		        url: '@Url.Action("getEmp")',
		        type: 'GET',
		        dataType: "json",
		        success: function (data) {
			        $('#tMain tbody tr').remove();
			        $.each(data, function (index, item) {
				        if (item.Tel == null){
					        item.Tel = '';
				        }
				        if (item.Phone == null) {
					        item.Phone = '';
				        }
				        if (item.ConPerson == null) {
					        item.ConPerson = '';
				        }
				        if (item.ConPersonTel == null) {
					        item.ConPersonTel = '';
				        }
				        $('#tMain tbody').append(
					        "<tr id='" + item.ID + "'><td>" + item.EmpID + "</td>" +
					        "<td>" + item.EmpName + "</td>" +
					        "<td>" + item.Tel + "</td>" +
					        "<td>" + item.Phone + "</td>" +
					        "<td>" + item.ConPerson + "</td>" +
					        "<td>" + item.ConPersonTel + "</td>" +
					        "<td>" + (JSON.parseWithDate(JSON.stringifyWcf(item.CreateDate))).f("yyyy-MM-dd") + "</td></tr>"
				        );
                    })
                    $('#tMain').DataTable({
                        language: {
                            url: "../Content/dataTables.Chinese.traditional.txt"
                        },
                        displayLength: 5,
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
                    });
		        }
	        });
        }
        //讀取加減項資料
        function loadSecondTable() {
            $.ajax({
			    url: '@Url.Action("getViewEmpIns")',
			    type: 'GET',
                data: { id: $('#tMain tbody tr.selected').attr('id') },
			    dataType: "json",
			    success: function (data) {
                    $('#tSecond tbody tr').remove();
                    var i = 1;
                    $.each(data, function (index, item) {
					    if (item.Remark == null) {
						    item.Remark = '';
					    }
					    $('#tSecond tbody').append(
                            "<tr id='" + item.ID + "'><td>" + i + "</td>" +
						    "<td>" + item.InsID + "</td>" +
						    "<td>" + item.InsName + "</td>" +
						    "<td>" + item.PosOrNeg + "</td>" +
						    "<td>" + item.Price + "</td>" +
						    "<td>" + item.Remark + "</td>" +
                            "<td>" + "<input id='insEdit' type='button' value='編輯' class='btn btn-xs btn-warning' data-toggle='modal' data-target='#modalDiv' />" + "</td>" +
                            "<td>" + "<input id='insDel' type='button' value='刪除' class='btn btn-xs btn-danger' />" + "</td></tr>"
					    );
                        i++;
				    })
			    }
		    });
        }
        //建立編輯加減項表單事件
        $('#tSecond').on('click', '#insEdit', function () {
            $('#lineModalLabel').html('編輯勞保加減項');
            $('#form div div').remove();
            $('#form div').append(secondForm);
            $.ajax({
                url: '@Url.Action("getInsCate")',
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('#form div div select').append(
                            "<option value='" + item.ID + "'>" + item.InsName + "</option>"
                        );
                    });
                },
            });
            $.ajax({
                url: '@Url.Action("EditEmpIns")',
                type: 'GET',
                data: { id: $(this).parent('td').parent('tr').attr('id') },
                dataType: "json",
                success: function (data) {
                    $('#form').attr('action', 'EditEmpIns');
                    $('#form div div').children('#ID').val(data.ID);
                    $('#form div div').children('#InsID').val(data.InsID);
                    $('#form div div').children('#Price').val(data.Price);
                    $('#form div div').children('#Remark').val(data.Remark);
                },
            });
            editSubmit();
        });
        //刪除加減項事件
        $('#tSecond').on('click', '#insDel', function () {
            if (window.confirm('確定要刪除?')) {
                location.replace('/Employee/DeleteEmpIns/' + $(this).parent().parent().attr('id'));
            }
        });
    </script>
}