@model IEnumerable<Manpower_MVC.ViewModels.ViewEmpIns>

@{
    ViewBag.Title = "點工人事資料";
}

<h2>勞健加減項</h2>
<p>
    <input type="button" value="建立勞健加減項" class="btn btn-primary" onclick="location.replace('@Url.Action("CreateEmpIns", new {id = ViewBag.empId })')" />
</p>
<table class="table">
    <tr>
        <th>
            次項
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosOrNeg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th></th>
    </tr>

@for (int i = 0; i < Model.Count(); i++)
{
    var item = Model.ToList()[i];
    int j = i + 1;
    <tr>
        <td>
            @j
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PosOrNeg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            <input type="button" value="編輯" class="btn btn-warning btn-xs" onclick="location.replace('@Url.Action("EditEmpIns", new { id=item.ID })')" />
            <input type="button" value="刪除" class="btn btn-danger btn-xs" onclick="if(window.confirm('確定要刪除')){location.replace('@Url.Action("DeleteEmpIns", new { id=item.ID })')}" />
        </td>
    </tr>
}

</table>


<div>
    <input type="button" value="返回點工人事資料" class="btn btn-default" onclick="location.replace('@Url.Action("Index")')" />
</div>
