
@{
    ViewBag.Title = "點工人事資料";
}
<style>
    tr.selected > td {
        background-color: #CCCCCC;
    }
</style>
<p>
    <h4>點工人事資料列表</h4>
</p>
<p>

</p>
<p>
    <input type="button" value="列印點工人事資料" class="btn btn-success" onclick="window.open('@Url.Action("Print")')" />
</p>

<table id="tEmp" class="table table-bordered" cellspacing="0" width="100%">
    <thead class="thead-inverse">
        <tr>
            <th>
                工號
            </th>
            <th>
                姓名
            </th>
            <th>
                電話
            </th>
            <th>
                手機
            </th>
            <th>
                緊急連絡人
            </th>
            <th>
                緊急連絡電話
            </th>
            <th>
                建立日期
            </th>
        </tr>
    </thead>
    <tfoot class="thead-inverse">
        <tr>
            <th>
                工號
            </th>
            <th>
                姓名
            </th>
            <th>
                電話
            </th>
            <th>
                手機
            </th>
            <th>
                緊急連絡人
            </th>
            <th>
                緊急連絡電話
            </th>
            <th>
                建立日期
            </th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>

<input id="create" type="button" value="建立" class="btn btn-primary" data-toggle="modal" data-target="#modalDiv" />
<input id="edit" disabled="disabled" type="button" value="編輯" class="btn btn-warning" data-toggle="modal" data-target="#modalDiv" />
<input id="del" disabled="disabled" type="button" value="刪除" class="btn btn-danger " />

<div></div>

<table id="tIns" class="table table-bordered" cellspacing="0" width="100%">
    <thead class="thead-inverse">
        <tr>
            <th>
                次號
            </th>
            <th>
                項目代號
            </th>
            <th>
                項目名稱
            </th>
            <th>
                加項/減項
            </th>
            <th>
                金額
            </th>
            <th>
                備註
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<input id="insCreate" type="button" value="建立" class="btn btn-primary" />
<input id="insEdit" disabled="disabled" type="button" value="編輯" class="btn btn-warning" />
<input id="insDel" disabled="disabled" type="button" value="刪除" class="btn btn-danger " />

@section pagesection{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("Emp")',
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $('#tEmp tbody tr').remove();
                    $.each(data, function (index, item) {
                        $('#tEmp tbody').append(
                            "<tr id='" + item.ID + "'><td>" + item.EmpID + "</td>" +
                            "<td>" + item.EmpName + "</td>" +
                            "<td>" + item.Tel + "</td>" +
                            "<td>" + item.Phone + "</td>" +
                            "<td>" + item.ConPerson + "</td>" +
                            "<td>" + item.ConPersonTel + "</td>" +
                            "<td>" + (JSON.parseWithDate(JSON.stringifyWcf(item.CreateDate))).f("yyyy-MM-dd") + "</td></tr>"
                        );
                    })
                }
            });

            $('#tEmp tbody').on('click', 'tr', function () {
                $.ajax({
                    url: '@Url.Action("ListEmpIns")',
                    type: 'GET',
                    data: { id: $(this).attr('id') },
                    dataType: "json",
                    success: function (data) {
                        $('#tIns tbody tr').remove();
                        var i = 0;
                        $.each(data, function (index, item) {
                            i++;
                            $('#tIns tbody').append(
                                "<tr id='" + item.ID + "'><td>" + i + "</td>" +
                                "<td>" + item.InsID + "</td>" +
                                "<td>" + item.InsName + "</td>" +
                                "<td>" + item.PosOrNeg + "</td>" +
                                "<td>" + item.Price + "</td>" +
                                "<td>" + item.Remark + "</td></tr>"
                            );
                        })
                    }
                });
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $('#edit').attr('disabled', true);
                    $('#del').attr('disabled', true);
                }
                else {
                    $('#tEmp tbody').children('.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#edit').attr('disabled', false);
                    $('#del').attr('disabled', false);
                }
            });

            $('#tIns tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $('#insEdit').attr('disabled', true);
                    $('#insDel').attr('disabled', true);
                }
                else {
                    $('#tIns tbody').children('.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#insEdit').attr('disabled', false);
                    $('#insDel').attr('disabled', false);
                }
            });

            $('#create').click(function () {
                $('#form div').remove();
                $('#form').append(
                    "<div class='form-group'>" +
                    "<input data-val='true' id='ID' name='ID' type='hidden' />" +
                    "</div>" +
                    "<div class='form- group'>" +
                    "<label for='EmpID'>工號</label>" +
                    "<input type='text' class='form-control' id='EmpID' name='EmpID' />" +
                    "</div >" +
                    "<div class='form-group'>" +
                    "<label for='EmpName'>姓名</label>" +
                    "<input type='text' class='form-control' id='EmpName' name='EmpName' />" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<label for='Tel'>電話</label>" +
                    "<input type='text' class='form-control' id='Tel' name='Tel' />" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<label for='Phone'>手機</label>" +
                    "<input type='text' class='form-control' id='Phone' name='Phone' />" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<label for='ConPerson'>緊急連絡人</label>" +
                    "<input type='text' class='form-control' id='ConPerson' name='ConPerson' />" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<label for='ConPersonTel'>緊急連絡電話</label>" +
                    "<input type='text' class='form-control' id='ConPersonTel' name='ConPersonTel' />" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<input type='submit' class='btn btn-primary' value='新增' />" +
                    "</div>"
                );
                $('#form').attr('action', '@Url.Action("Create")');
            });

            $('#edit').click(function () {
                $('#form div').remove();
                $('#form').append(
                    "<div class='form-group'>" +
                    "<input data-val='true' id='ID' name='ID' type='hidden' />" +
                    "</div>" +
                    "<div class='form- group'>" +
                    "<label for='EmpID'>工號</label>" +
                    "<input type='text' class='form-control' id='EmpID' name='EmpID' />" +
                    "</div >" +
                    "<div class='form-group'>" +
                    "<label for='EmpName'>姓名</label>" +
                    "<input type='text' class='form-control' id='EmpName' name='EmpName' />" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<label for='Tel'>電話</label>" +
                    "<input type='text' class='form-control' id='Tel' name='Tel' />" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<label for='Phone'>手機</label>" +
                    "<input type='text' class='form-control' id='Phone' name='Phone' />" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<label for='ConPerson'>緊急連絡人</label>" +
                    "<input type='text' class='form-control' id='ConPerson' name='ConPerson' />" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<label for='ConPersonTel'>緊急連絡電話</label>" +
                    "<input type='text' class='form-control' id='ConPersonTel' name='ConPersonTel' />" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "" +
                    "</div>" +
                    "<div class='form-group'>" +
                    "<input type='submit' class='btn btn-warning' value='更新' />" +
                    "</div>"
                );
                $.ajax({
                    url: '@Url.Action("Edit")',
                    type: 'GET',
                    data: { id: $('#tEmp tbody tr.selected').attr('id') },
                    dataType: "json",
                    success: function (data) {
                        $('#form').attr('action', '@Url.Action("Edit")');
                        $('#form').children('#ID').val(data.ID);
                        $('#form div').children('#EmpID').val(data.EmpID);
                        $('#form div').children('#EmpName').val(data.EmpName);
                        $('#form div').children('#Tel').val(data.Tel);
                        $('#form div').children('#Phone').val(data.Phone);
                        $('#form div').children('#ConPerson').val(data.ConPerson);
                        $('#form div').children('#ConPersonTel').val(data.ConPersonTel);
                    },
                    error: function () {
                        $('#form').attr('action', '');
                        $('#form div').children('input:text').val('');
                    }
                });
            });

            $('#del').click(function () {
                if (window.confirm('確定要刪除?')) {
                    location.replace('/Employee/Delete/' + $('.selected').attr('test'));
                }
            });

            $('#insCreate').click(function () {
                location.replace('/Employee/Edit/' + $('.selected').attr('test'));
            });

            $('#insEdit').click(function () {
                location.replace('/Employee/Edit/' + $('.selected').attr('test'));
            });

            $('#insDel').click(function () {
                if (window.confirm('確定要刪除?')) {
                    location.replace('/Employee/DeleteEmpIns/' + $('.selected').attr('test'));
                }
            });
        });
    </script>
}

<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <label class="modal-title" id="lineModalLabel"></label>
            </div>
            <div class="modal-body">
                <form id="form" method="post" action="">
                </form>
            </div>
        </div>
    </div>
</div>