@model IEnumerable<Manpower_MVC.Models.OwnerBuilding>

@{
    ViewBag.Title = "業主基本資料";
}

<h2>工程工地資料</h2>

<p>
    <input type="button" value="建立工程工地資料" class="btn btn-primary" onclick="location.replace('@Url.Action("CreateOwnerBuilding", new { id = ViewBag.ownerId })')" />
</p>
<table class="table">
    <tr>
        <th>
            次項
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConPersonTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@for (int i = 0; i < Model.Count(); i++)
{
    var item = Model.ToList()[i];
    int j = i + 1;
    <tr>
        <td>
            @j
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConPersonTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            <input type="button" value="編輯" class="btn btn-warning btn-xs" onclick="location.replace('@Url.Action("EditOwnerBuilding", new { id=item.ID })')" />
            <input type="button" value="刪除" class="btn btn-danger btn-xs" onclick="if(window.confirm('確定要刪除')){location.replace('@Url.Action("DeleteOwnerBuilding", new { id=item.ID })')}" />
        </td>
    </tr>
}

</table>
