@model IEnumerable<Manpower_MVC.ViewModels.ViewOwnerPayment>

@{
    ViewBag.Title = "業主工種請款資料";
}

<h4>業主工種請款資料列表</h4>

<p>
    <input type="button" value="建立請款" class="btn btn-primary" onclick="location.replace('@Url.Action("CreatePayment")')" />
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConPersonTel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConPersonTel)
        </td>
        <td>
            <input type="button" value="請款工種列表" class="btn btn-info btn-xs" onclick="location.replace('@Url.Action("ListPayWork", new { id=item.ID })')" />
            <input type="button" value="編輯" class="btn btn-warning btn-xs" onclick="location.replace('@Url.Action("EditPayment", new { id=item.ID })')" />
            <input type="button" value="刪除" class="btn btn-danger btn-xs" onclick="if(window.confirm('確定要刪除')){location.replace('@Url.Action("DeletePayment", new { id=item.ID })')}" />
        </td>
    </tr>
}

</table>
