@model IEnumerable<Manpower_MVC.ViewModels.ViewOwnerPayWork>

@{
    ViewBag.Title = "請款工種";
}

<h4>請款工種列表</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalaryDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OvertimeHr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverOvertimeHr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCareID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCareName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OvertimeSal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverOvertimeSal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OvertimeHr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverOvertimeHr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCareID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OvertimeSal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverOvertimeSal)
        </td>
        <td>
            @Html.ActionLink("更新", "EditPayWork", new { id=item.ID }) |
            @Html.ActionLink("刪除", "DeletePayWork", new { id=item.ID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("建立請款工種", "CreatePayWork", new { id = ViewBag.payId })
</p>

<p>
    @Html.ActionLink("返回請款列表", "Index")
</p>