@model IEnumerable<Manpower_MVC.ViewModels.ViewOwnerPayWork>

@{
    ViewBag.Title = "業主工種請款資料";
}

<h4>請款工種列表</h4>

<p>
    <input type="button" value="建立請款工種" class="btn btn-primary" onclick="location.replace('@Url.Action("CreatePayWork", new { id = ViewBag.payId })')" />
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkCareID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCareName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OvertimeSal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OvertimeHr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverOvertimeSal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverOvertimeHr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.WorkCareID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OvertimeSal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OvertimeHr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverOvertimeSal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverOvertimeHr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            <input type="button" value="編輯" class="btn btn-warning btn-xs" onclick="location.replace('@Url.Action("EditPayWork", new { id=item.ID })')" />
            <input type="button" value="刪除" class="btn btn-danger btn-xs" onclick="if(window.confirm('確定要刪除')){location.replace('@Url.Action("DeletePayWork", new { id=item.ID })')}" />
        </td>
    </tr>
}

</table>


<p>
    <input type="button" value="返回請款列表" class="btn btn-default" onclick="location.replace('@Url.Action("Index")')" />
</p>