@using Manpower_MVC.Controllers
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu tree">
            <li class="header">功能選單</li>
            <li class="treeview">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>回首頁</span></a>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-pencil-square-o"></i><span>基本資料</span></a>
                <ul class="treeview-menu" style="display: none;">
                    <li class="active"><a href="@Url.Action("Index", "Employee")"><i class="fa fa-circle-o"></i> 點工人事資料</a></li>
                    <li class="active"><a href="@Url.Action("Index", "WorkCare")"><i class="fa fa-circle-o"></i> 點工工種薪資</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Owner")"><i class="fa fa-circle-o"></i> 業主基本資料</a></li>
                    <li class="active"><a href="@Url.Action("Index", "OwnerPay")"><i class="fa fa-circle-o"></i> 業主工種請款資料</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-suitcase"></i><span>例行作業</span></a>
                <ul class="treeview-menu" style="display: none;">
                    <li class="active"><a href="@Url.Action("Index", "WorkList")"><i class="fa fa-circle-o"></i> 每日工單輸入</a></li>
                    <li class="active"><a href="@Url.Action("Index", "EmpSal")"><i class="fa fa-circle-o"></i> 點工薪資月結</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-bar-chart"></i><span>報表畫面</span></a>
                <ul class="treeview-menu" style="display: none;">
                    <li class="active"><a href="@Url.Action("MonthWork", "PrintList")"><i class="fa fa-circle-o"></i> 出工月報表</a></li>
                    <li class="active"><a href="@Url.Action("EmpSal", "PrintList")"><i class="fa fa-circle-o"></i> 出工薪資總表</a></li>
                    <li class="active"><a href="@Url.Action("PayWork", "PrintList")"><i class="fa fa-circle-o"></i> 請款總表</a></li>
                    <li class="active"><a href="@Url.Action("PayDetail", "PrintList")"><i class="fa fa-circle-o"></i> 請款明細表</a></li>
                </ul>
            </li>
        </ul>

        @* END Menu *@
    </section>
</aside>