
@{
    ViewBag.Title = "點工工種薪資";
}

<p>
    <input type="button" value="列印工種薪資" class="btn btn-success" onclick="window.open('@Url.Action("Print")')" />
</p>

<table id="tMain" class="table table-hover" cellspacing="0" width="100%">
    <thead class="thead-inverse">
        <tr>
            <th>代碼</th>
            <th>工種</th>
            <th>日薪</th>
            <th>加班時薪</th>
            <th>超時時薪</th>
            <th>備註</th>
        </tr>
    </thead>
    <tfoot class="thead-inverse">
        <tr>
            <th>代碼</th>
            <th>工種</th>
            <th>日薪</th>
            <th>加班時薪</th>
            <th>超時時薪</th>
            <th>備註</th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>

<input id="create" type="button" value="新增" class="btn btn-primary" data-toggle="modal" data-target="#modalDiv" />
<input id="edit" disabled="disabled" type="button" value="編輯" class="btn btn-warning" data-toggle="modal" data-target="#modalDiv" />
<input id="del" disabled="disabled" type="button" value="刪除" class="btn btn-danger " />

@section pagesection{
    <script>
        $(document).ready(function () {
            loadMainTable();
            //欄位點擊選擇事件
            $('#tMain tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $('#edit').attr('disabled', true);
                    $('#del').attr('disabled', true);
                }
                else {
                    $('#tMain tbody').children('.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#edit').attr('disabled', false);
                    $('#del').attr('disabled', false);
                }
            });
            //新增新增表單事件
            $('#create').click(function () {
                $('#lineModalLabel').html('新增工種類別');
		        $('#form div div').remove();
                $('#form div').append(workCateForm);
                createSubmit();
		        $('#form').attr('action', '@Url.Action("Create")');
            });
            //建立編輯表單事件
            $('#edit').click(function () {
                $('#lineModalLabel').html('編輯工種類別');
		        $('#form div div').remove();
                $('#form div').append(workCateForm);
                editSubmit();
		        $.ajax({
			        url: '@Url.Action("Edit")',
			        type: 'GET',
                    data: { id: $('#tMain tbody tr.selected').attr('id') },
			        dataType: "json",
			        success: function (data) {
				        $('#form').attr('action', '@Url.Action("Edit")');
                        $('#form div div').children('#ID').val(data.ID);
                        $('#form div div').children('#WorkCareID').val(data.WorkCareID);
                        $('#form div div').children('#WorkCareName').val(data.WorkCareName);
                        $('#form div div').children('#Salary').val(data.Salary);
                        $('#form div div').children('#OvertimeSal').val(data.OvertimeSal);
                        $('#form div div').children('#OverOvertimeSal').val(data.OverOvertimeSal);
                        $('#form div div').children('#Remark').val(data.Remark);
			        },
			        error: function () {
				        $('#form').attr('action', '');
				        $('#form div div').children('input:text').val('');
			        }
		        });
            });
            //刪除事件
            $('#del').click(function () {
                if (window.confirm('確定要刪除?')) {
                    location.replace('/WorkCare/Delete/' + $('.selected').attr('id'));
                }
            });
        });
        //工種表單
        var workCateForm = "<div class='form-group'>" +
            "<input data-val='true' id='ID' name='ID' type='hidden' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='WorkCareID'>代碼</label>" +
            "<input type='text' class='form-control' id='WorkCareID' name='WorkCareID' required='required' />" +
            "</div >" +
            "<div class='form-group'>" +
            "<label for='WorkCareName'>工種</label>" +
            "<input type='text' class='form-control' id='WorkCareName' name='WorkCareName' required='required' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='Salary'>日薪</label>" +
            "<input type='text' class='form-control' id='Salary' name='Salary' required='required' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='OvertimeSal'>加班時薪</label>" +
            "<input type='text' class='form-control' id='OvertimeSal' name='OvertimeSal' required='required' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='OverOvertimeSal'>超時時薪</label>" +
            "<input type='text' class='form-control' id='OverOvertimeSal' name='OverOvertimeSal' required='required' />" +
            "</div>" +
            "<div class='form-group'>" +
            "<label for='Remark'>備註</label>" +
            "<textarea class='form-control' cols='20' id='Remark' name='Remark' placeholder='備註...' rows='3'></textarea>" +
            "</div>";
        //讀取工種資料
        function loadMainTable() {
            $.ajax({
		        url: '@Url.Action("getWorkCate")',
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $('#tMain tbody tr').remove();
                    $.each(data, function (index, item) {
                        if (item.Remark == null) {
                            item.Remark = '';
                        }
                        $('#tMain tbody').append(
                            "<tr id='" + item.ID + "'><td>" + item.WorkCareID + "</td>" +
                            "<td>" + item.WorkCareName + "</td>" +
                            "<td>" + item.Salary + "</td>" +
                            "<td>" + item.OvertimeSal + "</td>" +
                            "<td>" + item.OverOvertimeSal + "</td>" +
                            "<td>" + item.Remark + "</td></tr>"
                        );
                    })
                    $('#tMain').DataTable({
                        language: {
                            url: "../Content/dataTables.Chinese.traditional.txt"
                        },
                        displayLength: 5,
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
                    });
                }
            });
        }
    </script>
}