@model IEnumerable<Manpower_MVC.Models.WorkCategory>

@{
    ViewBag.Title = "點工工種薪資";
}

<p>
    <h4>點工工種薪資列表</h4>
</p>
<p>
    <input type="button" value="建立工種薪資" class="btn btn-primary" onclick="location.replace('@Url.Action("Create")')" />
</p>
<p>
    <input type="button" value="列印工種薪資" class="btn btn-success" onclick="window.open('@Url.Action("Print")')" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkCareID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCareName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OvertimeSal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverOvertimeSal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCareID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OvertimeSal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverOvertimeSal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            <input type="button" value="編輯" class="btn btn-warning btn-xs" onclick="location.replace('@Url.Action("Edit", new { id=item.ID })')" />
            <input type="button" value="刪除" class="btn btn-danger btn-xs" onclick="if(window.confirm('確定要刪除')){location.replace('@Url.Action("Delete", new { id=item.ID })')}" />
        </td>
    </tr>
}

</table>
<!--
    <input type="button" value="整頁列印" onclick="print()">
-->