@model IEnumerable<Manpower_MVC.Models.WorkCategory>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>點工薪資一覽表</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/icheck/blue.min.css" rel="stylesheet">
    @Styles.Render("~/Bundles/css")
</head>
<body onload="window.print(); window.close();">
    <div style="text-align:center; font-weight:bolder;">
        <p>
            <h4>點工薪資一覽表</h4>
        </p>
    </div>
    <div style="font-size:xx-small;text-align :left;">
        <table class="table table-striped" style="width:100%">
            <tr>
                <td style="border-bottom: 1px solid black">
                    @Html.DisplayNameFor(model => model.WorkCareID)
                </td>
                <td style="border-bottom: 1px solid black">
                    @Html.DisplayNameFor(model => model.WorkCareName)
                </td>
                <td style="border-bottom: 1px solid black">
                    @Html.DisplayNameFor(model => model.Salary)
                </td>
                <td style="border-bottom: 1px solid black">
                    @Html.DisplayNameFor(model => model.OvertimeSal)
                </td>
                <td style="border-bottom: 1px solid black">
                    @Html.DisplayNameFor(model => model.OverOvertimeSal)
                </td>
                <td style="border-bottom: 1px solid black">
                    @Html.DisplayNameFor(model => model.Remark)
                </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkCareID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkCareName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OvertimeSal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OverOvertimeSal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
